<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- P0 -- Da Art of Storytellin' (Pt. 2) / build a blog hosting website -->
<!-- 2021-01-08 -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Create Blog</title>
</head>

<body>
	<h1>Team E and F</h1>
	<p>Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter</p>
	<h2>Create New Blog</h2>
	<form action="/createBlogRead" method="POST">
		<label for="blogTitle">Blog Title</label>
		<input type="text" name="blogTitle">
		<br>
		<label for="dateCreated">Date Created</label>
		<input type="text" name="dateCreated">
		<br>
		<label for="blogBio">Blog Bio</label>
		<input type="text" name="blogBio">
		<br>
		<input type="submit">
	</form>	
	
</body>

</html>