<!-- Team E and F (Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter) -->
<!-- SoftDev -->
<!-- P0 -- Da Art of Storytellin' (Pt. 2) / build a blog hosting website -->
<!-- 2021-01-08 -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Register</title>
</head>

<body>
	<h1>Team E and F</h1>
	<p>Karl Hernandez, Eric Lo, Amelia Chin, Ari Schechter</p>
	<h2>Register for a new account below.</h2>
	<form action="/registerRead" method="POST">
		<label for="username">Username</label>
		<input type="text" name="username">
		<br>
		<label for="password">Password</label>
		<input type="text" name="password">
		<br>
		<input type="submit">
	</form>	
	<br><br>
	<button type="button">
		<a href="/">Login</a>
	</button>
</body>

</html>
